// Mixins in here
.header-font {
    font-family: 'Indie Flower', cursive;
}

.dashed-grey {
    border-bottom: 2px dashed grey;

}



// parametric mixins
.btn-style(@width, @height,){
    width: 40px;
    height: 20px;
    background-color: @eastern-blue;
    color: white;
    padding: 20px 50px;
    text-align: center;
    border-radius: 30%;
};